{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for member in members%}
        <a class="card card-body m-2 text-decoration-none border border-light border-3 p-0 "  href="{% url 'profile' member.id %}" style="max-width: 300px;">
            <div class="rounded p-3 col" style="background-color: #1a1a1a;">
                <!-- numero -->
                <div class="d-flex justify-content-start ">
                    <p class="text-danger fw-bolder mb-1"># {{forloop.counter}}</p>
                </div>

                <!-- nombre y liga -->
                <div  class=" d-flex justify-content-between fw-bold ">
                    <div class="d-flex">
                        {% if member.tag %}      
                       <p class="text-danger">
                        SmD Æ&nbsp;
                       </p>
                        {% endif %}
                        <p class="text-light ">
                            {{member.nick}}
                        </p>
                    </div>
                    <div>
                        <p class="text-light">
                            {{member.liga}}
                        </p>
                    </div>
                </div>

                <div>
                    <img src="{% static 'img\profile_default.svg' %}" class="card-img-top" alt="profile photo" >
                    <p class="text-light fst-italic text-center">	   	
                        &#8220; {{member.frase}} &#8221;
                    </p>  
                </div>

                <div class="align-items-end">
                    <p class="text-light">Puntos : {{member.puntos}}</p>
                    <p class="text-light">Ultima conexión: {{member.created|fecha}}</p>
                </div>
              
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}