{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Miembros</h1>
            <ul class="list-group">
                {% for member in members %}
                <a class="list-group-item text-decoration-none" href="{% url 'profile' member.id %}">
                        <div class=" d-flex justify-content-between ">
                            <div  class=" d-flex justify-content-start fw-bold ">
                                {% if member.tag %}      
                                   <p class="text-danger">
                                    SmD Æ&nbsp;
                                   </p>
                                {% endif %}
                                <p class="text-dark">
                                    {{member.nick}}
                                </p>
                                
                            </div>
                            
                            
                            <p>{{member.liga}}</p>
                        </div>                   
                    <p class="text-secondary">{{member.frase}}</p>            
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

    
    

{% endblock %}