{% extends 'base.html' %}
{% load static %}

{% block content %} 
    <div class="col-lg container flex-grow" style="max-width: 50%; min-width: 300px"  >

        <!-- Tarjeta principal -->
        <div class="card card-body border border-light border-3" style="background-color: #1a1a1a;">

            <!-- nombre y liga -->
            <div class=" d-flex justify-content-between ">
              
                <div class="modal-dialog-centered fw-bold mt-3">
                    {% if member.tag %}
                        <p class="text-danger">
                            SmD Æ&nbsp;
                        </p>
                    {% endif %}
                    <p class="text-light">
                        {{member.nick}} # {{member.serial}}
                    </p> 
                </div>
                <div class="m-1" >
                  <img src="{% static member.liga.icon %}" class="pr-3" style="height: 50px;" alt="profile photo">
                </div>   
                  
            </div>

            <!-- imagen y descripción -->
            <div class="d-lg-flex mx-auto justify-content-between " >

                <div class="mx-2" style="min-width: 200px; max-width: 200px;">
                    <img src="{% static 'img\profile_default.svg' %}" class="card-img-top img-thumbnail"  alt="profile photo">
                    <p class=" mt-2 text-center text-secondary fst-italic">
                        {{member.frase}}
                    </p>
                </div>
                
                <div class="mx-2">
                    <div class="h4 pb-2 mb-4 text-light border-bottom border-danger text-center">
                    Info
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Pais</div>
                            <span class="badge bg-danger rounded-pill">{{member.pais}}</span>
                          </div>
                          <img src="{% static member.pais.flag %}" alt="country_flag">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">Puntos</div>
                            <span class="badge bg-danger rounded-pill">{{member.puntos}}</span>
                          </div>
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Reclutados</div>
                              <span class="badge bg-danger rounded-pill">{{member.num_ref}}</span>
                              
                            </div>
                          </li>  
                        
                        </li>
                        
                        
                        {% if member.refer != None %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto fw-bold">
                              <div class="fw-bold">Reclutado por</div>
                              <a href="{% url 'profile' ref.id %}" class="fw-bold d-flex text-decoration-none">
                                {% if ref.tag %}
                                  <p class="text-danger">
                                      SmD Æ&nbsp;
                                  </p>
                                {% endif %}
                                  <p class="text-primary text-dark" >
                                      {{ref.nick}} 
                                  </p>
                                </a>
                            </div>
                          </li>
                          {% endif %}
                          <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">Ultima conexión</div>
                              {{member.last_login|fecha}}
                            </div>
                          </li>
                    </ul>
                </div>  
            </div>

            <!-- Participaciones -->
            <div>
                <div class="h4 pb-2 mb-4 text-light border-bottom border-danger text-center">
                    Participaciones
                </div>
                <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
            </div>


            <!-- Comentarios -->
            <div>
                <div class="h4 pb-2 mb-4 text-light border-bottom border-danger text-center">
                    Comentarios
                  </div>
                <ul class="list-group">
                    {% for comment in comments %}
                      <li class="list-group-item mb-2 rounded">
                        <div class="d-flex justify-content-between">
                          <a class="d-flex fw-bold text-decoration-none" href="{% url 'profile' comment.by.id %}">
                            {% if comment.by.tag %}
                                <p class="text-danger">
                                    SmD Æ&nbsp;
                                </p>
                            {% endif %}
                            <p class="fw-bold text-dark">
                              {{comment.by}}
                            </p> 
                          </a>
                          
                          {% if author == comment.by %}
             

                            <form action="{% url 'delete_comment' id=member.id comment_id=comment.id %}" method="POST">
                              
                              {% csrf_token %}
                              <button class="p-0" style="border: None ;">
                                <i class="fa-regular fa-trash-can"></i>
                              </button>
                            </form>
                          {% endif %}
                        </div>
                        
                        <div class=" d-flex justify-content-between">
                          <p class="text-start offset-md-1 border-bottom border-dark">
                            {{comment.description}}
                          </p>
                          <p >
                            {{comment.date|fecha}}
                          </p>
                        </div>
                        
                        
                      </li>
                    {% endfor %}
                  </ul>
            </div>


        </div>  

        <!-- Formulario comentario -->
        <div>
          {% if message == 'Ingresa para poder comentar' %}
          <a href="/signin/" class="text-decoration-none">
            <div  class="alert alert-warning mt-2" role="alert">
              {{message}}
            </div>
          </a>
          {% else%}
            {% if message %}
            <div  class="alert alert-warning mt-2" role="alert">
              {{message}}
            </div>
            {% endif %}
          {% endif %}
          {% if form %}
            <div class="col-md-12">
              <div class="card card-body border border-light border-3 mt-2" style="background-color: #1a1a1a;">

                <form method="POST">
                  {% csrf_token %}
                  <div class="container">
                    
                    <div class="d-flex fw-bold">
                      <div>
                        {% if author.tag %}
                          <p class="text-danger">SmD Æ&nbsp;</p>
                        {% endif %}
                      </div>
                      <p class="text-light">
                        {{author.nick}}
                      </p>
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text"><i class="fa-regular fa-comments"></i></span>
                      <div class="form-floating">
                        {{form.description}}
                        <label for="floatingInputGroup1">Escribe un comentario</label>
                      </div>
                    </div>

                    <div class="row justify-content-end">
                      <button class="btn btn-danger mt-2">
                        Comentar
                      </button>
                    </div> 

                  </div>
                </form>
              </div>
              
            </div>
            

          {% endif %}

        </div>  
    </div>  
{% endblock %}